<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name=".NetworkRequest"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".TBISocket"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>