<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".ImagePicker"
            android:exported="false" />
        <activity
            android:name=".Media"
            android:exported="false" />
        <activity
            android:name=".VideoConfig"
            android:exported="false" />
        <activity
            android:name=".VoipConfig"
            android:exported="false" />
        <activity
            android:name=".ChatHistory"
            android:exported="false" />
        <activity
            android:name=".Chat_Config"
            android:exported="false" />
        <activity
            android:name=".User"
            android:exported="false" />
        <activity
            android:name=".Consultation"
            android:exported="false" />
        <activity
            android:name=".AltibbiSdk"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>